@page "/contribute"
   
<PageTitle>Contribute</PageTitle>

<h1>You can help!</h1>

<p>All of the worksheets found on this site are compiled from open LaTeX source.</p>

<p>
    To browse the source visit the GitHub repository:
    <a href="https://github.com/Matthew-Holmes/Matthews_Mathematics">
        https://github.com/Matthew-Holmes/Matthews_Mathematics
    </a>
</p>

<h2>Raising an issue</h2>

<p>Found a mistake? Have a suggestion? Follow this guide to raise an issue:</p>

<ol>
    <li>
        First navigate to the source code file on GitHub. You can either do this from the link above,
        or follow the link found alongside the file listing on this website.
    </li>
    <li>
        Click on a line number. These are found to the left of the code. Any line is fine, but if you
        want to change a specific portion, selecting that line will be helpful.
    </li>
    <li>
        This will bring up a box with three dots. Click it to see a list of options.
    </li>
    <li>
        Select <strong>"Reference in a new issue"</strong>.
    </li>
    <li>
        Sign in. This will require you to make a GitHub account if you don't already have one.
    </li>
    <li>
        Write a brief title.
    </li>
    <li>
        Fill out the issue. You might have found a mistake or want to alter a question’s wording.
        Don’t worry — raising the issue begins a conversation, so if you want to add more details later you can.
    </li>
    <li>
        Create the issue.
    </li>
</ol>

@code {

}
